.containerLanding{
   background-image: url(../../../src/png/Gaming-Wallpaper-HD-High-Quality.jpg);
   margin: auto;
   height: 900px;
   width: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
}

.button-31L {
    background-color: rgb(250, 236, 34);
    border-style: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    border-radius: 5px;
    max-width: none;
    height: 40px;
    min-width: 10px;
    outline: none;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 220px;
    margin-top: 200px;
  }
  
  .button-31L:hover {
   
    color:rgb(255, 255, 255);
    background-color:rgb(148, 140, 30);
   
  }

  .welcome{
    text-align: left;
    font-size: 120px;
    color:rgb(250, 236, 34) ;
  }